@charset "UTF-8";
/* ------------------------ Variables ------------------------ */
/* #region Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #161616;
    --sds-color-1: #c6d53a;
    --sds-color-2: #00bba4;
    --sds-accent-1: #b1003a;
    --sds-accent-2: #2d0a41;
    --sds-color-shadow: #000;
    --sds-color-font: white;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: white;
    --sds-color-1: #2d0a41;
    --sds-color-2: #b1003a;
    --sds-accent-1: #00bba4;
    --sds-accent-2: #c6d53a;
    --sds-color-shadow: #000;
    --sds-color-font: #161616;
  }
}
/* #endregion */
/* ----------------------- Autocomplete ---------------------- */
/* #region Autocomplete */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid var(--sds-color-font);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--sds-accent-1) !important;
  color: #ffffff;
}

#searchfieldautocomplete-list {
  overflow: scroll;
  max-height: 80vh;
  border-bottom: 1px solid var(--sds-color-font);
}

/* #endregion */
/* -------------------------- Fonts -------------------------- */
/* #region Fonts */
@font-face {
  font-family: Bitter;
  src: url(../fonts/Bitter-Bold.ttf);
}
@font-face {
  font-family: Open-Sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
/* #endregion */
/* ------------------------- General ------------------------- */
/* #region General */
body {
  font-family: "Open-Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  height: 100svh;
  background-color: var(--sds-color-2);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body * {
  color: var(--sds-color-font);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
}

li {
  list-style-type: none;
}

li a,
p a {
  display: inline-block;
  padding: 0.1em 0.4em;
  max-width: calc(100% - 0.8em);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0 !important;
  transform: translateY(0.4em);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a,
input[type=submit] {
  text-decoration: none;
  background-color: var(--sds-accent-1);
  color: var(--sds-color-font);
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0;
}

a:hover,
input[type=submit]:hover,
button[type=submit]:hover {
  background-color: var(--sds-color-2);
  color: var(--main-bg-color);
}
a:hover *,
input[type=submit]:hover *,
button[type=submit]:hover * {
  color: var(--main-bg-color);
}

hr {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.hidden {
  display: none;
}

/* #endregion */
/*  ------------------------- Cursor ------------------------- */
/* #region Cursor */
body * {
  cursor: default;
}

a {
  cursor: pointer;
}
a * {
  cursor: pointer;
}

input {
  cursor: pointer;
}
input * {
  cursor: pointer;
}

button {
  cursor: pointer;
}
button * {
  cursor: pointer;
}

i {
  cursor: unset;
  pointer-events: none;
}

input[type=text],
input[type=password] {
  cursor: text;
}

/* #endregion */
/* ------------------------- Layout -------------------------- */
/* #region Layout */
header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 10%;
  min-height: 50px;
  background-color: var(--main-bg-color);
  box-shadow: 0 0 5px var(--sds-color-shadow);
  z-index: 10;
  padding-left: 1%;
  padding-right: 1%;
  font-family: "Bitter";
}

#rbody {
  height: calc(100% - max(10%, 50px));
  flex-direction: row;
  width: 100%;
}

/* #endregion */
/* ------------------------- Sidebar ------------------------- */
/* #region Sidebar */
.placeholder {
  margin-top: 25%;
}

#sidebar {
  position: relative;
  width: 20%;
  background-color: var(--main-bg-color);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  min-width: 200px;
  box-shadow: 0 0 5px var(--sds-color-shadow);
  z-index: 2;
  transition: left 0.5s ease-in-out;
}
#sidebar h2 {
  top: 0;
  left: 0;
  position: absolute;
  width: calc(100% - 2em);
  padding: 1em;
  background-image: linear-gradient(180deg, var(--main-bg-color) 0%, var(--main-bg-color) 50%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
  height: 2em;
  font-size: 1.5em;
  font-family: "Bitter";
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
}
#sidebar ul {
  height: 96%;
  width: 100%;
  overflow: scroll;
}
#sidebar li {
  width: unset;
}
#sidebar li a {
  display: inline-block;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
#sidebar .button {
  background-color: var(--sds-accent-1);
  width: 1.5em;
  height: 2.3em;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#sidebar a {
  background-color: unset;
  justify-content: left;
  padding: 0.5em;
}
#sidebar a.button:hover {
  background-color: var(--sds-color-2);
}
#sidebar a:hover {
  background-color: var(--sds-color-2);
  color: var(--main-bg-color);
}
#sidebar #menubutton {
  display: flex;
  position: absolute;
  top: 0;
  left: 100%;
  width: 1.5em;
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2.3em;
  align-items: center;
  justify-content: center;
  background-color: var(--sds-accent-1);
}
#sidebar #menubutton.hover {
  background-color: var(--sds-color-2);
  border-bottom: 2px solid var(--main-bg-color);
  border-right: 2px solid var(--main-bg-color);
  color: var(--sds-color-font);
}
#sidebar #menubutton.hover i::before {
  content: "arrow_back";
}
#sidebar #menubutton i::before {
  content: "menu";
}

#actionbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-bottom: 0;
  margin-left: 0;
  position: fixed;
  bottom: 1em;
  left: 1em;
}

body.hidemenu #sidebar {
  position: absolute;
  height: 100%;
  left: calc(-1 * max(20%, 200px) - 2%);
}
body.hidemenu #sidebar #menubutton.hover i::before {
  content: "arrow_forward";
}
body.hidemenu header h1 {
  font-size: 1em;
}
body.hidemenu:not(.hovermenu) #main {
  width: 90%;
  margin-left: calc(-1 * max(20%, 200px));
}

@media screen and (min-width: 800px) {
  #sidebar {
    left: 0;
  }
}
/* #endregion */
#main {
  position: relative;
  width: min(78%, 98% - 200px);
  margin: 2%;
  padding: 3%;
  margin-bottom: 0;
  box-shadow: 0 0 2px var(--sds-color-shadow);
  background-color: var(--main-bg-color);
  overflow: scroll;
  gap: 2em;
  transition: margin-left 0.5s ease-in-out;
}
#main * {
  justify-content: left;
  text-align: left;
}
#main h2 {
  display: table;
  font-size: 1.8em;
  font-family: "Bitter";
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: var(--sds-color-font);
  color: var(--main-bg-color);
  padding: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
#main a:has(h3) {
  display: table;
  margin-block-start: 0;
  margin-block-end: 0;
  justify-self: unset;
  width: unset;
  margin: 0;
  padding: 0;
}
#main a > h3:hover {
  background-color: var(--sds-color-2);
}
#main h3 {
  display: table;
  font-size: 1.2em;
  font-family: "Bitter";
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: var(--sds-color-font);
  color: var(--main-bg-color);
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#main h4 {
  font-size: 1.2em;
  font-family: "Bitter";
  margin-block-start: 0;
  margin-block-end: 0;
  margin-right: 1em;
}
#main .button {
  position: relative;
  width: 8em;
  height: 1.9em;
  padding: 0.3em;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  z-index: 1;
  justify-content: space-between;
  text-align: center;
}
#main .eventdate {
  display: table;
}
#main .eventdate > a {
  display: table;
}
#main #titleholder {
  display: table;
}
#main #titleholder h3 {
  background-color: var(--sds-accent-1);
  color: var(--sds-color-font);
}
#main #titleholder h3:hover {
  background-color: var(--sds-color-2);
  color: var(--main-bg-color);
}
#main .catrow {
  display: table;
  margin-top: 2em;
  flex-direction: column;
  align-items: left;
  padding: 0;
}
#main .toprow {
  margin-top: 2em;
  margin-left: 2em;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2em);
  padding: 0;
  position: relative;
}
#main .toprow .editbutton {
  color: var(--sds-color-font);
  height: 2.5em;
  width: 1.5em;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}
#main .toprow .top {
  width: calc(100% - 2.5em);
  /* space between p's */
}
#main .toprow .top > *:not(h4, h5, a:has(h5, h4), .eventdate) {
  margin-left: 1em;
  margin-right: 1em;
  display: inline;
}
#main .toprow .top *:not(:first-child, h4, h5, a:has(h5, h4), .eventdate) {
  margin-top: 0.8em;
}
#main .toprow .top p:last-child:empty {
  margin-top: 0;
}
#main .toprow .top ul li {
  display: block;
  margin-left: 1em;
}
#main .toprow .top ul li::before {
  content: "•";
  margin-right: 0.5em;
}
#main .toprow .top ol {
  counter-reset: li;
}
#main .toprow .top ol li {
  display: block;
}
#main .toprow .top ol li::before {
  counter-increment: li;
  content: counter(li) ".";
  margin-right: 0.5em;
}
#main .toprow .top ul,
#main .toprow .top ol {
  margin-left: 1em;
  margin-top: 0.8em;
}

body.hovermenu #main {
  width: auto;
}
body.hovermenu #main .button {
  width: 1.5em;
}
body.hovermenu #main .button::after {
  content: "";
}

@media screen and (min-width: 800px) {
  #main {
    width: min(78%, 98% - 200px);
    margin-left: 2%;
  }
  #main .addtopb::after {
    content: "Neuer TOP";
  }
  #main .addeventb::after {
    content: "Neues Event";
  }
}
/* #endregion */
/* -------------------------- Menus -------------------------- */
/* #region Menus */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  justify-content: center;
  align-items: center;
}
.menu form {
  background-color: var(--main-bg-color);
  width: 50%;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.menu form * {
  text-align: left;
  border: none;
}
.menu form #contentfield {
  padding: 0.5em;
  height: 70%;
  width: 100%;
  border: 1px solid var(--sds-color-font);
  background-color: var(--main-bg-color);
  font-size: 1em;
  overflow: scroll;
}
.menu h2 {
  text-align: left;
  border: none;
  background-color: var(--sds-color-font);
  color: var(--main-bg-color);
  font-family: "Bitter";
  font-size: 1.8em;
  padding: 0.1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-bottom: 1em;
}
.menu #pfield {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8em;
  background-color: var(--sds-accent-1);
  padding-left: 0.25em;
  padding-right: 0.25em;
  width: 14em;
}

.addtop form,
.addevent form {
  height: 80%;
}

.addto form {
  height: 50%;
}

.atmbuttons {
  height: 2.5em;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.atmbuttons * {
  width: 30%;
  gap: 1em;
  height: 100%;
  font-size: 1em;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .atmbuttons {
    width: 80%;
  }
}
.menu form input[type=text],
.menu form input[type=date] {
  height: 2em;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid var(--sds-color-font);
  background-color: var(--main-bg-color);
  font-family: "Bitter";
  font-size: 1.2em;
}

#headerbuttons {
  background-color: var(--sds-accent-1);
  color: var(--sds-color-font);
  height: 2.5em;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: max(50%, 20em);
}
#headerbuttons form {
  flex-direction: row;
}
#headerbuttons .autocomplete {
  width: calc(100% - 2.5em);
}
#headerbuttons input[type=text],
#headerbuttons input[type=password] {
  height: calc(100% - 1.2em);
  padding: 0.5em;
  font-size: 1em;
  background-color: var(--sds-color-font);
  color: var(--main-bg-color);
  font-family: "Bitter";
  font-size: 1.2em;
  width: calc(100% - 1.2em);
  min-width: 5em;
  margin: 0;
}
#headerbuttons .editbutton,
#headerbuttons .searchbutton,
#headerbuttons .unlockbutton,
#headerbuttons .lockbutton {
  height: 2.3em;
  width: 1.5em;
  margin-left: 0;
}
#headerbuttons .unlockbutton i::before,
#headerbuttons .lockbutton:hover i::before {
  /* change material icon to locked */
  content: "lock";
}
#headerbuttons .unlockbutton:hover i::before,
#headerbuttons .lockbutton i::before {
  /* cahnge material icon to unlocked */
  content: "lock_open";
}

/* #endregion *//*# sourceMappingURL=sds-to-style.css.map */