/* ------------------------ Variables ------------------------ */
/* #region Variables */

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #161616;
    --color-shadow: #000;
    --color-font: white;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-background: white;
    --color-shadow: #000;
    --color-font: #161616;
  }
}

:root {
  --color-accent: #b1003a;
  --color-accent-1: #b1003a;
  --color-accent-2: #d45a33;
  --color-accent-3: #f7b32b;
  --color-accent-4: #7cb768;
  --color-accent-5: #00bba4;
  --color-accent-6: #455f9b;
  --color-accent-7: #8a0391;
  --color-accent-8: #9e0266;

  --border-thickness: 0.15em;
  --border-radius: 0;
  --border-radius-2: calc(var(--border-radius) - var(--border-thickness));

  --frame-thickness: var(--border-thickness);

  --color-selected: var(--color-font);
  --color-background-selected: var(--color-background);
  --color-unselected: var(--color-background);
  --color-background-unselected: var(--color-accent);

  --color-border: var(--color-accent);
}
/* #endregion */
/* ----------------------- Autocomplete ---------------------- */
/* #region Autocomplete */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid var(--color-border);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;

  div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-background-selected);
    border-bottom: 1px solid var(--color-border);

    * {
      cursor: pointer;
    }

    &:hover {
      background-color: var(--color-background-unselected);
      color: var(--color-unselected);

      * {
        color: var(--color-unselected);
      }
    }
  }
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--color-background-unselected) !important; 
  color: var(--color-unselected);

  * {
    color: var(--color-unselected);
  }
}
#searchfieldautocomplete-list{
  overflow: scroll;
  max-height: 80vh;
  height: 100vh;
  border-bottom: 1px solid var(--color-border);
}
/* #endregion */
/* -------------------------- Fonts -------------------------- */
/* #region Fonts */
@font-face {
  font-family: Bitter;
  src: url(../../fonts/Bitter-Bold.ttf);
}
@font-face {
  font-family: Open-Sans;
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans-Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
/* #endregion */
/* ------------------------- General ------------------------- */
/* #region General */
body {
  font-family: "Open-Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-color: var(--color-border);
  margin: 0;
  padding: 0;
  overflow: hidden;

  * {
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
}

li {
  list-style-type: none;
}

li a,
p a {
  display: inline-block;
  padding: 0.1em 0.4em;

  transform: translateY(0.6em);

  // wrap text
  max-width: calc(100% - 0.8em);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0 !important;

  border: var(--border-thickness) solid var(--color-border);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a,
input[type="submit"] {
  text-decoration: none;
  border-radius: var(--border-radius);
  padding: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-unselected);
  background-color: var(--color-background-unselected);

  * {
    color: var(--color-unselected);
  }
}

a:hover,
input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: var(--color-background-selected);
  color: var(--color-selected);

  * {
    color: var(--color-selected);
  }
}

hr {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border-color: var(--color-border);
  border: calc(var(--border-thickness) / 2) solid var(--color-border);
}

.hidden {
  display: none;
}
/* #endregion */
/*  ------------------------- Cursor ------------------------- */
/* #region Cursor */
body * {
  cursor: default;
}

a {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

input {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

button {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.material-symbols-outlined {
  cursor: unset;
  pointer-events: none;
}

input[type="text"],
input[type="password"] {
  cursor: text;
}
/* #endregion */
/* ------------------------- Layout -------------------------- */
/* #region Layout */
header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3em);
  height: 5em;
  background-color: var(--color-background);
  z-index: 10;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: "Bitter";

  .logo {
    position: relative;
    padding-left: 0.5em;

    * {
      text-overflow: clip;
      text-align: left;
      white-space: nowrap;
    }

    &::before {
      content: "";
      position: absolute;
      top: 15%;
      left: 0;
      width: 100%;
      height: 75%;
      border-left: var(--border-thickness) solid var(--color-border);
    }
  }
}

#rbody {
  height: calc(100vh - 5em);
  flex-direction: row;
  width: 100%;
}
/* #endregion */
/* ------------------------- Sidebar ------------------------- */
/* #region Sidebar */
.placeholder {
  margin-top: 25%;
}

#sidebar {
  overflow: visible;
  position: relative;
  width: 20%;
  background-color: var(--color-background);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  min-width: 200px;
  z-index: 2;
  height: calc(100vh - 7em);

  transition: margin-left 0.5s ease-in-out;
  
  h2 {
    top: 0;
    left: 0;
    position: absolute;
    width: calc(100% - 2em);
    padding: 1em;
    background-image: linear-gradient(
      180deg,
      var(--color-background) 0%,
      var(--color-background) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
    height: 2em;
    font-size: 1.5em;
    font-family: "Bitter";
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: left;
    z-index: 3;
  }

  #scrollcontainer {
    --overflow: 40vw;
    overflow-y: scroll;
    height: 96%;
    width: calc(100% + 4em);
    margin-left: -4em;

    &:has(a:hover) {
      width: calc(100% + 4em + var(--overflow));

      ul {
        width: calc(100% - var(--overflow));
      }
    }

    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }

    ul {
      overflow: visible;
      li {
        overflow: visible;
    
        a {
          transform: unset;
          position: relative;
          justify-content: left;
          padding: 0.5em;
          padding-left: 4.5em;
          display: inline-block;
          text-align: left;
          align-items: flex-start;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin: 0;
          border-radius: 0 var(--border-radius) var(--border-radius) 0;
          background-color: var(--color-background);
          color: var(--color-font);
          border: 0;
  
          &:hover {
            &::before {
              content: attr(topnumber);
            }
  
            box-shadow: 0 0 0.25em var(--color-shadow);
            z-index: 2;
            width: min-content;
            max-width: calc(100% - 6em + var(--overflow));
            min-width: calc(100% - 5em);
            background-color: var(--color-background-unselected);
            color: var(--color-unselected);
          }
        }
      }
    }

  }

  #actionbuttons {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 100;

    div:has(.colorb) {
      a {
        &:not(:last-child) {
          .material-symbols-outlined{
            position: relative;
            &::after {
              content: "circle";
              font-variation-settings: "FILL" 0;
              color: var(--color-unselected);
              position: absolute;
              width: 100%;
              height: 100%;
              bottom: 0;
              left: 0;
              align-items: center;
              justify-content: center;
            }
          }

          // custom color input
          input[type="color"] {
            appearance: none;
            border: none;
            width: 2.5em;
            height: calc(2.5em - 2 * var(--border-thickness));
            padding: 0;
            margin: 0;
            background: none;
            cursor: pointer;

            + .material-symbols-outlined {
              opacity: 0;
              position: absolute;
              top: 0;
              right: 0;
              transition: opacity 0.5s ease-in-out;

              &::after {
                visibility: hidden;
              }
            }

            &::-webkit-color-swatch-wrapper {
              padding: 0;
            }

            &::-webkit-color-swatch {
              margin: .2em;
              border: none;
              border-radius: 50%;
              border: .2em solid var(--color-unselected);
            }

            &:hover {
              &::-webkit-color-swatch {
                border: .2em solid var(--color-selected);
              }

              + .material-symbols-outlined {
                opacity: 1;
              }
            }
          }
        }

        &:hover {
          .material-symbols-outlined {
            &::after {
              color: var(--color-selected);
            }
          }
        }
      }
    }

    div:has(.colorb, .styleb) {
      position: relative;
      height: calc(2.5em);
      width: calc(2.5em);
      margin: calc(-1 * var(--border-thickness));
      position: relative;
      border: 0;

      a {
        margin-left: calc(-1 * var(--border-thickness));
        margin-right: calc(-1 * var(--border-thickness));
        border: var(--border-thickness) solid var(--color-accent);
        border-bottom-width: 0;
        border-top-width: 0;
        position: relative;
        &:not(:last-child) {
          &:not(:nth-last-child(2))::after {
            content: "";
            position: absolute;
            bottom: calc(100% - 1em);
            left: calc(-1 * var(--border-thickness));
            width: 100%;
            height: 0;
            background-color: var(--color-background-unselected);
            border: var(--border-thickness) solid var(--color-accent);
            z-index: -1;
            transition: height 0.5s ease-in-out;
          }
        }
      }

      &:hover {
        a {
          margin: calc(-1 * var(--border-thickness));
          border: var(--border-thickness) solid var(--color-accent);

          &:not(:last-child) {
            // second to last child
            &:not(:nth-last-child(2))::after {
              height: 2em;
            }
          }
        }

        > :last-child {
          visibility: hidden;
        }
      }
    }
  }

  #menubutton {
    display: flex;
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(1.5em - var(--border-thickness));
    height: calc(1.5em - var(--border-thickness));
    padding: 0.5em;
    padding-top: calc(0.5em + var(--border-thickness));
    padding-left: calc(0.5em + var(--border-thickness));
    align-items: center;
    justify-content: center;
    border-radius: 0 0 var(--border-radius) 0;
    border-right: var(--border-thickness) solid var(--color-accent);
    border-bottom: var(--border-thickness) solid var(--color-accent);

    &.hover {
      color: var(--color-font);

      .material-symbols-outlined::before {
        content: "arrow_back";
      }
    }

    .material-symbols-outlined::before {
      content: "menu";
    }
  }
}
/* #endregion */

#main {
  width: 100%;
  position: relative;
  margin: var(--frame-thickness);
  padding: 4em;
  margin-bottom: 0;
  background-color: var(--color-background);
  overflow: scroll;
  gap: 0;

  * {
    justify-content: left;
    text-align: left;
  }

  h2 {
    display: table;
    font-size: 1.8em;
    font-family: "Bitter";
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: var(--color-font);
    color: var(--color-background);
    padding: 0.1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  a{
    &:has(h3) {
      display: table;
      margin-block-start: 0;
      margin-block-end: 0;
      justify-self: unset;
      width: unset;
      margin: 0;
      padding: 0;
    }

    > h3:hover {
      background-color: var(--color-accent);
    }
  }

  h3 {
    display: table;
    font-size: 1.2em;
    font-family: "Bitter";
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: var(--color-font);
    color: var(--color-background);
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  h4 {
    font-size: 1.2em;
    font-family: "Bitter";
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 1em;
  }

  .button {
    position: relative;
    width: 8em;
    height: 1.9em;
    padding: 0.3em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    justify-content: space-between;
    text-align: center;
    border: var(--border-thickness) solid var(--color-accent);
  }

  .eventdate, .topnumber {
    display: table;
    
    > a {
      display: table;
      border-radius: 0;
      border: var(--border-thickness) solid var(--color-accent);
    }
  }

  .topnumber {
    cursor: default;
    pointer-events: none;
  }

  #titleholder {
    display: table;

    h3 {
      background-color: var(--color-background-unselected);
      color: var(--color-unselected);
      border: var(--border-thickness) solid var(--color-accent);

      &:hover {
        background-color: var(--color-background-selected);
        color: var(--color-selected);
      }
    }
  }

  .catrow {
    display: table;
    flex-direction: column;
    align-items: left;
  
    padding: 0;
    margin-top: 2em;
  }

  .toprow {
    border-radius: var(--border-radius);
    padding: 1em;

    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 2em);
    position: relative;

    .editbuttons {
      margin: 1em;
      position: absolute;
      top: 0;
      right: 0;
    }

    &:not(:has(.editbuttons)) .top {
      width: 100%;
    }

    h4 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  
    .top{
      position: relative;
      width: calc(100% - 4em + 2 * var(--border-thickness));

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        margin-top: 0.8em;
        width: var(--border-thickness);
        height: calc(100% - 0.8em);
        border-left: var(--border-thickness) solid var(--color-accent);
      }

      > * {
        margin-left: 1em;
        margin-right: 1em;
        display: inline;
      }
  
      /* space between p's */
      * {
        margin-top: 0.8em;
      }
  
      p:last-child:empty {
        margin-top: 0;
      }
  
      ul li {
        display: block;
        margin-left: 1em;
  
        &::before {
          content: "•";
          margin-right: 0.5em;
        }
      }
  
      ol {
        counter-reset: li;
        
        li {
          display: block;
  
          &::before {
            counter-increment: li;
            content: counter(li) ".";
            margin-right: 0.5em;
          }
        }
      }
  
      ul,
      ol {
        margin-left: 1em;
        margin-top: 0.8em;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  #main {
    .button {
      padding-right: 1em;
    }

    .addtopb::after {
      content: "Neuer TOP";
      transform: translateY(-.05em);
    }
    
    .addeventb::after {
      content: "Neues Event";
      transform: translateY(-.05em);
    }
  }
}

.hovermenu {
  #sidebar {
    position: absolute;
    border-right: var(--border-thickness) solid var(--color-border);
  }
}

.hidemenu {
  #sidebar {
    margin-left: calc(-1 * max(20%, 200px + 2em));

    #menubutton {
      &.hover {
        .material-symbols-outlined::before {
          content: "arrow_forward";
        }
      }
    }
  }
}
/* #endregion */
/* -------------------------- Menus -------------------------- */
/* #region Menus */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  justify-content: center;
  align-items: center;

  form {
    background-color: var(--color-background);
    width: 50%;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    border-radius: var(--border-radius);

    * {
      text-align: left;
      border: none;
    }

    #contentfield {
      padding: 0.5em;
      height: 70%;
      width: calc(100% - 1em);
      border: 1px solid var(--color-font);
      background-color: var(--color-background);
      font-size: 1em;
      overflow: scroll;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    input[type="text"],
    input[type="date"] {
      height: 2em;
      width: calc(100% - 1em);
      padding: 0.5em;
      font-size: 1em;
      border: 1px solid var(--color-font);
      background-color: var(--color-background);
      font-family: "Bitter";
      font-size: 1.2em;
    }

    input[type="text"] {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }
  
  h2 {
    text-align: left;
    border: none;
    background-color: var(--color-font);
    color: var(--color-background);
    font-family: "Bitter";
    font-size: 1.8em;
    padding: 0.1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: 1em;
  }

  #pfield {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    background-color: var(--color-accent);
    padding-left: 0.25em;
    padding-right: 0.25em;
    width: 14em;
  }
}

.addtop form,
.addevent form {
  height: 80%;
}

.addto form {
  height: 50%;
}

.atmbuttons {
  height: 2.5em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  * {
    width: 30%;
    gap: 1em;
    margin: 0;
    font-size: 1em;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: var(--border-thickness) solid var(--color-accent) !important;
    height: calc(100% - 2 * var(--border-thickness));

    &:is(input[type="submit"]) {
      height: 100%;
    }
  }
}

@media (min-width: 800px) {
  .atmbuttons {
    width: 80%;
  }
}

.buttondrawer {
  height: min-content;
  width: min-content;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--border-thickness);
  background-color: var(--color-background-unselected);
  padding: var(--border-thickness);
  border-radius: var(--border-radius);

  * {
    border-radius: var(--border-radius-2);
    height: 100%;
  }

  .button, a {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;

    &:hover {
      background-color: var(--color-background-selected);

      .material-symbols-outlined::before {
        color: var(--color-selected);
      }
    }
  }
  
  input[type="text"],
  input[type="password"] {
    height: calc(100% - 0.75em);
    margin-top: 0.025em;
    padding: 0.35em;
    font-size: 1em;
    background-color: var(--color-font);
    color: var(--color-background);
    font-family: "Bitter";
    font-size: 1.2em;
    width: calc(100% - 0.75em);
    min-width: 5em;
    border: 0;
  }

  &.expandable_down {
    box-shadow: none;
    flex-direction: column-reverse;

    .button, a {
      margin-top: calc(-100% - var(--border-thickness));
      transition: margin-top 0.5s ease-in-out;
    }
    
    :last-child, &:hover a, &:hover .button {
      margin-top: 0;
    }
  }

  &.expandable_up {
    box-shadow: none;
    flex-direction: column;

    .button, a {
      margin-bottom: calc(-100% - var(--border-thickness));
      transition: margin-bottom 0.5s ease-in-out;
    }
    
    :last-child, &:hover a, &:hover .button {
      margin-bottom: 0;
    }
  }

  &.expandable_right {
    box-shadow: none;
    flex-direction: row-reverse;

    .button, a {
      margin-left: calc(-100% - var(--border-thickness));
      transition: margin-left 0.5s ease-in-out;
    }
    
    :last-child, &:hover a, &:hover .button {
      margin-left: 0;
    }
  }

  &.expandable_left {
    box-shadow: none;
    flex-direction: row;

    .button, a {
      margin-right: calc(-100% - var(--border-thickness));
      transition: margin-right 0.5s ease-in-out;
    }
    
    :last-child, &:hover a, &:hover .button {
      margin-right: 0;
    }
  }
}

#headerbuttons {
  color: var(--color-font);
  height: 2.5em;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: max(50%, 20em);

  form {
    flex-direction: row;
    gap: var(--border-thickness);
  }

  .autocomplete {
    width: calc(100% - 2.5em);
  }

  .unlockbutton .material-symbols-outlined::before,
  .lockbutton:hover .material-symbols-outlined::before {
    /* change material icon to locked */
    content: "lock";
  }

  .unlockbutton:hover .material-symbols-outlined::before,
  .lockbutton .material-symbols-outlined::before {
    /* cahnge material icon to unlocked */
    content: "lock_open";
  }
}
/* #endregion */
